{
 :paths   ["src" "test"]

 :deps    {
           org.clojure/clojure    {:mvn/version "1.10.1"}
           org.clojure/test.check {:mvn/version "1.0.0"}
           cheshire               {:mvn/version "5.10.0"}
           orchestra              {:mvn/version "2019.02.06-1"}
           }

 :aliases {
           :runner {
                    :extra-deps {
                                 com.cognitect/test-runner {
                                                            :git/url "https://github.com/cognitect-labs/test-runner"
                                                            :sha     "76568540e7f40268ad2b646110f237a60295fa3c"
                                                            }
                                 }
                    :main-opts  ["-m" "cognitect.test-runner" "-d" "test"]
                    }
           :mainer {
                    :main-opts ["-m" "total.main"]
                    }
           }
 }

;From /usr/local/lib/clojure/deps.edn:

;{
;  :paths ["src"]
;
;  :deps {
;    org.clojure/clojure {:mvn/version "1.10.x"}
;  }
;
;  :aliases {
;    :deps {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.8.xxx"}}}
;    :test {:extra-paths ["test"]}
;  }
;
;  :mvn/repos {
;    "central" {:url "https://repo1.maven.org/maven2/"}
;    "clojars" {:url "https://repo.clojars.org/"}
;  }
;}

;From ~/.clojure/deps.edn:

;{
;  :aliases {
;    :new {
;      :extra-deps {
;        seancorfield/clj-new {:mvn/version "0.5.5"}
;      }
;      :main-opts ["-m" "clj-new.create"]
;    }
;    :k-repl {
;      :extra-deps {
;        viebel/klipse-repl {:mvn/version "0.2.3"}
;      }
;      :main-opts ["-m" "klipse-repl.main --no-easy-defs"]
;    }
;    :outdated {
;      :extra-deps {
;        olical/depot {:mvn/version "1.8.4"}
;      }
;      :main-opts ["-m" "depot.outdated.main"]
;    }
;  }
;}

;Make new:
;https://github.com/seancorfield/clj-new

;For k-repl:
;clojure -A:k-repl
;clojure -A:k-repl -Spath

;Check for outdated deps:
;clojure -A:outdated -a outdated

; In this project:

;Run tests:
;clj -A:runner
;clj -A:runner -Spath

;Run main:
;clj -A:mainer
