{
 :paths ["resources" "src"]

 :deps  {
         org.clojure/clojure {:mvn/version "1.10.0"}
         cheshire            {:mvn/version "5.8.1"}
         orchestra           {:mvn/version "2019.02.06-1"}
         }

 :aliases
        {:test {:extra-paths ["test"]
                :extra-deps  {org.clojure/test.check {:mvn/version "0.9.0"}}}
         :runner
               {:extra-deps {com.cognitect/test-runner
                             {:git/url "https://github.com/cognitect-labs/test-runner"
                              :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
                :main-opts  ["-m" "cognitect.test-runner"
                             "-d" "test"]}
         :mainer
               {:extra-deps {org.clojure/test.check {:mvn/version "0.9.0"}}
                :main-opts  ["-m" "total.main"]}}
 }

;For CIDER:
;clj -A:test:cider-clj
;clj -A:test:cider-clj -Spath

;Run tests:
;clj -A:test:runner
;clj -A:test:runner -Spath

;Run main:
;clj -A:mainer
