{
 :deps    {
           org.clojure/clojure    {:mvn/version "1.10.1"}
           org.clojure/test.check {:mvn/version "1.1.0"}
           cheshire/cheshire      {:mvn/version "5.10.0"}
           orchestra/orchestra    {:mvn/version "2020.09.18-1"}
           }

 :aliases {
           :mainer {
                    :main-opts ["-m" "total.main"]
                    }
           }
 }

;From /usr/local/lib/clojure/deps.edn:

;{
;  :paths ["src"]
;
;  :deps {
;    org.clojure/clojure {:mvn/version "1.10.x"}
;  }
;
;  :aliases {
;    :deps {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.8.xxx"}}}
;    :test {:extra-paths ["test"]}
;  }
;
;  :mvn/repos {
;    "central" {:url "https://repo1.maven.org/maven2/"}
;    "clojars" {:url "https://repo.clojars.org/"}
;  }
;}

;From ~/.clojure/deps.edn:

;{
; :deps    {
;           ;org.clojure/clojure {:mvn/version "1.10.x"}
;           org.slf4j/slf4j-simple {:mvn/version "1.7.30"}
;           }
;
; :aliases {
;           :new      {
;                      :extra-deps {
;                                   seancorfield/clj-new {:mvn/version "1.0.199"}
;                                   }
;                      :main-opts  ["-m" "clj-new.create"]
;                      }
;           :k-repl   {
;                      :extra-deps {
;                                   viebel/klipse-repl {:mvn/version "0.2.3"}
;                                   }
;                      :main-opts  ["-m" "klipse-repl.main --no-easy-defs"]
;                      }
;           :outdated {
;                      :extra-deps {
;                                   olical/depot {:mvn/version "2.0.1"}
;                                   }
;                      :main-opts  ["-m" "depot.outdated.main"]
;                      }
;           :test     {:extra-paths ["test" "resources-test"]
;                      :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
;                                                               :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
;                      :main-opts   ["-m" "cognitect.test-runner"]}
;           }
; }

;For make new project:
;https://github.com/seancorfield/clj-new

;For k-repl:
;https://github.com/viebel/klipse-repl
;clojure -A:k-repl
;clojure -A:k-repl -Spath

;Check for outdated deps:
;https://github.com/Olical/depot
;clojure -A:outdated -a outdated
