#kaocha/v1
    {:plugins                         [:orchestra
                                       :preloads]
     :kaocha.plugin.preloads/ns-names [total.domain]
     :color?                          false}
